.account-details {
    margin: 20px;
}

.account-details img {
    border-radius: 25%;
    float: left;
}

table {
    padding-left: 1%;
    display: inline-block;
}

h2 {
    padding: 0;
    margin: 0;
}

/* account page css */
.account-form textarea {
    resize: none;
}
.account-form {
    margin: 20px;
}
.account-form input {
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    display: block;
}
.account-form input#about_me {
    width: 200px;
}
.account-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
    width: 200px;
}
/* end account page css */