h2, .clean {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.changelog {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.update-interval {
    list-style: none;
    font-weight: 700;
    margin-top: 10px;
}