/* forum page css */
.forum-post-link {
    text-decoration: none;
    color: #474747;
}

.forum-post-link td {
    padding: 0px 5px 0px 5px;
}

.forum-post-username {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.forum-table {
    padding: 10px;
    width: 100%;
    object-fit: contain;
    /* table-layout: fixed; */
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-post-user-image img {
    border-radius: 50%;
}

.forum-post-username a {
    font-weight: bold;
    white-space: nowrap;
}

.forum-post-mentions {
    /* width: fit-content; */
    width: auto;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 2px;
    display: inline-block;
}
.mentioned {
    color: rgb(255, 208, 80);
    background-color: rgb(255, 246, 223);
    border: 1px solid rgb(255, 208, 80);
    border-radius: 3px;
}
.forum-post-title {
    width: 100%;
    color: black;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.forum-post-likes {
    text-align: right;
    min-width: 10px;
}
.forum-post-comments {
    text-align: right;
    white-space: nowrap;
}
.forum-post-timestamp {
    overflow: hidden;
    white-space: pre;
    text-align: right;
}
.vote {
    font-size: 55px;
    color: lightgray;
}
.can_vote {
    color: black;
    cursor: pointer;
}
.sortby-form {
    margin: 10px;
}
.sortby-form input {
    background-color: rgb(221, 221, 221);
    border: none;
    padding: 4px;
}
.sortby-form select {
    background-color: white;
    border: none;
    padding: 4px;
}

.mark-read-form {
    margin: 10px;
}
.mark-read-form input {
    background-color: rgb(221, 221, 221);
    border: none;
    padding: 4px;
}

.forum-post-link {
    text-decoration: none;
}

.unread {
    color: blue;
}

.online-div {
    margin: 10px;
}

.online-user {
    margin-right: 12px;
    display: inline-block;
}

.pre-post-table {
    display: flex;
}

.pre-left {
    float: left;
}

.pre-right {
    float: right;
}