/* forum page css */

/* pre-forum post css */

.online-user {
    margin-right: 12px;
    display: inline-block;
}

.pre-forum-table {
    display: flex;
    padding: 10px;
}

.pre-forum-list {
    display: flex;

    margin: 0;
    padding: 0;
}

.pre-forum-list li {
    display: flex;
    align-items: center;
    list-style: none;

    padding: 0px 6px;
}

.sortby {
    background-color: lightgray;

    text-align: center;

    width: 125px;

    border: none;
    border-radius: 10px;

    padding: 8px;
}

.mark-read-form input {
    background-color: lightgray;

    border: none;
    border-radius: 10px;

    width: 125px;

    padding: 8px;
}

li select {
    appearance: none;
}

li select:hover, .mark-read-form input:hover {
    cursor: pointer;
}
/* end of pre-forum post css */

/* forum post css*/
.forum-post-link {
    text-decoration: none;
    color: #474747;
}

.forum-post-link td {
    padding: 0px 5px 0px 5px;
}

.forum-post-username {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.forum-table {
    display: inline-block;
    padding: 10px;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 20px;
}

.form-post-user-image img {
    border-radius: 50%;
}

.forum-post-username a {
    font-weight: bold;
}

.forum-post-mentions {
    width: auto;
    white-space: nowrap;
    margin-right: 10px;
    margin-bottom: 2px;
    display: inline-block;
}
.mentioned {
    color: rgb(255, 208, 80);
    background-color: rgb(255, 246, 223);
    border: 1px solid rgb(255, 208, 80);
    border-radius: 3px;
}
.forum-post-title {
    width: 80%;
    overflow: hidden;
    color: black;
}
.forum-post-likes {
    text-align: right;
    min-width: 10px;
}
.forum-post-comments {
    text-align: right;
    white-space: nowrap;
}
.forum-post-timestamp {
    overflow: hidden;
    white-space: pre;
    text-align: right;
}

.forum-post-link {
    text-decoration: none;
}

.unread {
    color: blue;
}

.vote {
    font-size: 55px;
    color: lightgray;
}
.can_vote {
    color: black;
    cursor: pointer;
}

/* end of forum post css */