@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

body {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;

    color: black;

    margin: 0px;  
    padding: 0px;        
}

h2 {
    margin: 0;
    padding: 0;
}

td a {
    text-decoration: none;
}

/* adapted from https://www.w3schools.com/css/css_navbar.asp */

.ban-message {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
    background-color: #f44336;
    color: white;
}

/* header css */
.header {
    position: relative;

    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1%;

    width: auto;
    z-index: 1;
}

.header .logo {
    width: 50px;
    height: 50px;
    
    float: left;
}

.header .title {
    padding: 6px 16px;
    float: left;
    
    font-size: larger;
}

/* end header css */

/* navbar css */
.navbar-container li {
    list-style: none;
    display: inline-block;

    padding: 0px 18px;
    font-size: 200;

    width: 1500px;
}

.navbar-container li a {
    transition: all 0.3s ease 0s;

    text-decoration: none;

    color: rgb(255, 255, 255);
    padding: 1.25%;
}

.navbar-container a:hover {
    color: #797979;
}

.dropbtn {
    color: white;
    width: 50px;
    height: 50px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
/* end navbar css */


/* footer css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 6px 6px;
    background-color: #fff;
    width: 100%;
}
.footer-margin {
    margin-top: 30px;
    bottom: 0;
    position: absolute;
    /* display: block; */
}
/* end footer css */



/* table css */
th {
    background-color: #474747;
    color: white;
    padding: 5px;
    font-weight: 100;
}

table {
    border: none;
    border-collapse: collapse;
}

td a {
    text-decoration: none;
}

/* end table css */

/* center form css */
/* adapted from https://www.w3schools.com/css/css_form.asp */
.center-form {
    margin: auto;
    width: 300px;
    padding-top: 50px;
}
.center-form input {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
}
.center-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
}

/* alert css */
/* adapted from https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}
.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.close-button:hover {
    color: black;
}
/* end alert css */

/* post-form css */
.post-form textarea {
    resize: none;
}
.post-form {
    /* width: 300px; */
    padding: 8px;
}
.post-form input {
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    display: block;
}
.post-form input#title {
    width: 300px;
}
.post-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
    width: 300px;
}
/* end post-form css */