@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

body {
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;

    color: black;

    margin: 0px;  
    padding: 0px;        
}

/* adapted from https://www.w3schools.com/css/css_navbar.asp */

.ban-message {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
    background-color: #f44336;
    color: white;
}
/* end navbar css */

/* header css */
.header {
    position: absolute;

    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 15px 5%;
    width: auto;
    z-index: 1;
}

.nav-links {
    background-color: #c4b6b5;
}

/* li, a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links a:hover {
    color: #ff2f2f;
} */

.header .logo {
    width: 50px;
    height: 50px;
    
    float: left;
}

/* .header div {
    padding: 6px 16px;
    float: left;
    font-weight: 700;
    font-size:larger;
} */


/* end header css */

/* footer css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 6px 6px;
    background-color: #fff;
    width: 100%;
}
.footer-margin {
    margin-top: 30px;
    bottom: 0;
    position: absolute;
    /* display: block; */
}
/* end footer css */

/* table css */
th {
    background-color: #474747;
    color: white;
    padding: 5px;
    font-weight: 100;
}
table {
    border: none;
    border-collapse: collapse;
}
tr {
    transition: background-color 0.2s;
}
tr:hover {
    background-color: #ebebeb;
}
/* end table css */

/* center form css */
/* adapted from https://www.w3schools.com/css/css_form.asp */
.center-form {
    margin: auto;
    width: 300px;
    padding-top: 50px;
}
.center-form input {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
}
.center-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
}

/* alert css */
/* adapted from https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}
.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.close-button:hover {
    color: black;
}
/* end alert css */

/* post-form css */
.post-form textarea {
    resize: none;
}
.post-form {
    /* width: 300px; */
    padding: 8px;
}
.post-form input {
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    display: block;
}
.post-form input#title {
    width: 300px;
}
.post-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
    width: 300px;
}
/* end post-form css */

/* account page css */
.account-form textarea {
    resize: none;
}
.account-form {
    margin: 20px;
}
.account-form input {
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    display: block;
}
.account-form input#about_me {
    width: 200px;
}
.account-form input[type=submit] {
    background-color: rgb(12, 153, 12);
    border: none;
    color: white;
    cursor: pointer;
    width: 200px;
}
.account-details {
    margin: 20px;
}
.account-details td.td-left {
    width: 100px;
}
/* end account page css */