.account-details {
    margin: 20px;
    height: 180px;
}

.account-details img {
    border-radius: 25%;
    float: left;
}

table {
    padding-left: 1%;
    display: inline-block;
}

.users-administrator-options {
    margin: 20px;
}

.users-administrator-options a {
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 8px;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}

.users-administrator-options a:hover {
    background-color: rgb(71, 71, 71);
}

/* end of user css */