.mention {
  color: rgb(255, 208, 80);
  border: 1px solid rgb(255, 208, 80);
  border-radius: 3px;
  background-color: rgb(255, 246, 223);
  padding: 1px;
}

.post {
  margin: 20px;
  display: block;
  width: 90%;
  min-height: 100px;
  overflow: hidden;
}

.post-content {
  min-height: 120px;
  padding-bottom: 20px;

  overflow: hidden;
}

/* .post img {
  border-radius: 25%;
  float: left;
} */

.post-content table {
  padding-left: 20px;
  display: inline-block;
}

.blocked-post-content table {
  display: inline-block;
}

.post-title, .comment-title  {
  font-weight: bold;
  font-size: larger;
  margin: 20px;
  display: flex;
}

.post-user {
  border-bottom: 2px solid rgba(66, 66, 66, 0.473);
}

.post-username {
  display: inline-block;
}

.post-avatar {
  object-fit: fill;
  max-width: 120px;
  max-height: 120px;
  border-radius: 25%;
  float: left;
}

.post-body {
  float: left;
  display: block;
  width: 95%;

  padding-left: 25px;
}

.post-right {
  float:  left;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
}


.blocked-post-comment {
  margin: 20px;
  display: block;
  width: 80%;
  min-height: 20px;
}

tr td {
  padding: 0px 5px 0px 5px;
}

td a {
  color: black;
}

.edited {
  color: grey;
}


/* .post-comment {
  margin: 20px;
  display: flex;
}
*/

.post-image {
  max-width: 200px;
  max-height: 200px;
  background-size: cover;
  float: left;
  margin: 10px;
}


button { 
   border: none;
   background-color: rgba(255, 255, 255, 0);
}

button i, .report-anchor i {
  height: 18px;
  width: 18px;
  padding-right: 4px;
}

/* comment-form css */
.comment-form textarea {
  resize: none;

}

.comment-form {
  margin: 20px;
  margin-bottom: 40px;

  width: 35%;

  display: inline-block;
}

.comment-form input {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  display: block;
}

.comment-form textarea#body {
  width: 60%;
}

.comment-form input[type=submit] {
  background-color: rgb(12, 153, 12);
  border: none;
  color: white;
  cursor: pointer;
  width: 200px;
}

/* end comment-form css */



/* post and comment modification buttons css */

.edit-button:hover {
  transition: all 0.3s ease 0s;
  color: rgb(12, 97, 97);
  cursor: pointer;
}
.block-button:hover {
  transition: all 0.3s ease 0s;
  color: rgb(231, 30, 30);
  cursor: pointer;
}
.delete-button:hover {
  transition: all 0.3s ease 0s;
  color: rgb(231, 30, 30);
  cursor: pointer;
}
.pin-button:hover {
  transition: all 0.3s ease 0s;
  color: rgb(12, 97, 97);
  cursor: pointer;
}
.report-anchor {
  padding: 0px 5px 0px 5px;
  font-size: small;

}
.report-anchor:hover {
  transition: all 0.3s ease 0s;
  color: rgb(231, 30, 30);
  cursor: pointer;
}

#show-comment:hover {
  transition: all 0.3s ease 0s;
  color: rgb(55, 198, 255);
  cursor: pointer;
}
/* end comment modification button css */



/* edit-comment-form css */
.edit-comment-form, .edit-post-form {
  width: 80%;
  padding-left: 25px;
  overflow: hidden;
  float: left;
  height: fit-content;
}

.edit-comment-form input, .edit-post-form input {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  display: block;

}
.edit-comment-form textarea, .edit-post-form textarea {
  /* float: left; */
  width: 99%;
  resize: none;
  height: 70%;
}

.edit-comment-form input[type=submit], .edit-post-form input[type=submit] {
  background-color: rgb(12, 153, 12);
  border: none;
  color: white;
  cursor: pointer;
  width: 200px;
}
/* end edit-comment-form css */

.vote {
  color: lightgray;
}
.can_vote {
  color: black;
  cursor: pointer;
}